@import url(css-font/all.css);
@import url(css-font/all.min.css);
@import url(css-font/brands.css);
@import url(css-font/brands.min.css);
@import url(css-font/fontawesome.css);
@import url(css-font/fontawesome.min.css);
@import url(css-font/regular.css);
@import url(css-font/regular.min.css);
@import url(css-font/solid.css);
@import url(css-font/solid.min.css);
@import url(css-font/svg-with-js.css);
@import url(css-font/svg-with-js.min.css);

#hero{
    background: #487BFF;
    min-width: 100vw;
    min-height: 120vh;
}

#card-container{
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 190px;
    margin-bottom: 20px;
    padding-right: 60px;
}

.title{
    font-family: 'Labrada';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 69px;
    text-align: center;
    color: #000000;
}

#information-container{
    font-family: 'Labrada';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
}


.icon-text-group {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 20px;
    padding-left: 60px;
    border-width: 6px;
    border-color: 2px;
}

.img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.email svg{
    max-width: 10px;
    max-height: 10px;

}

.img-fluid{
    margin-left: 50px;
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 642px) {
    .title{
        font-family: 'Labrada';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 69px;
        text-align: center;
        color: #000000;
        margin-left: 50px;
    }
    .img {
        margin-top: 3px;
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
    .img-fluid{
        margin-left: 20px;
        margin-top: 120px;
        width: 150px;
        height: 150px;
    }
    #information-container{
        font-family: 'Labrada';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 25px;
        color: #000000;
    }
    #card-container{
        width: 100%;
        background: #FFFFFF;
        border-radius: 10px;
        margin-top: 190px;
        margin-bottom: 20px;
        margin-right: 100px;
    }
    .email svg{
        margin-right: 30px;
        min-width: 20px;
        min-height: 20px;
    }
}
